<template name="header">
  <div class="header">
    <div class="container">
      <a class="header_logo" href="index.html"></a>
      <div class="header_right">
        <form class="header_susi _login" name="login">
          <input type="text" class="header_input" placeholder="Email">
          <input type="password" class="header_input" placeholder="Password">
          <button type="submit" class="header_btn _green">Login</button>
        </form>
        <form class="header_susi _logout" name="logout">
          <button type="submit" class="header_btn _large _green">Profile</button>
          <button type="submit" class="header_btn _large _green">Account</button>
          <button type="submit" class="header_btn _blue">Logout</button>
        </form>
        <div class="header_rep">
          <div class="header_rep_as-seen-on-tv"></div>
          <div class="header_rep_today"></div>
          <div class="header_rep_nbc"></div>
          <div class="header_rep_fox"></div>
          <div class="header_rep_abc"></div>
        </div>
      </div>
      <div class="header_nav sticky">
        <div class="container"> <!-- For when the nav is fixed -->
          <div class="header_nav_primary">
            <a href="school.html" data-nav="school" class="nav_item">Get Your School Involved</a>
            <a href="search.html" data-nav="search" class="nav_item">Find A Blowling Center</a>
            <a href="faq.html" data-nav="faq" class="nav_item">Frequently Asked Questions</a>
          </div>
          <div class="header_nav_secondary">
            <a href="register.html" data-nav="register" class="nav_item"><i class="icon-register"></i>Register</a>
          </div>
        </div>
      </div>
    </div> <!-- Container -->
  </div> <!-- Header -->
</template>

<template name="footer">
  <div class="footer">
    <div class="row">
      <div class="g8 col1of3-sm">
        <a class="btn" href="bowling-center-info.html"><i class="icon-info"></i>Information For Bowling Centers</a>
      </div>
      <div class="g8 col2of3-sm">
        <a class="btn" href="btt-2013.html"><i class="icon-wave"></i>BTT 2013 Winners</a>
      </div>
      <div class="g8 col3of3-sm">
        <a class="btn" href="tos.html"><i class="icon-tos"></i>Terms Of Use</a>
      </div>
    </div> <!-- Row -->
    <div class="row">
      <div class="footer-link">Have Questions? Call (888) 342 - 2594</div>
    </div>
  </div> <!-- Footer -->
</template>